<!--=================================
    Modal login -->
    <div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="loginModalLabel">Log in & Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs nav-tabs-02 justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab"
                aria-controls="login" aria-selected="false"> <span> Log in</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab"
                aria-controls="register" aria-selected="true"><span>Register</span></a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              <form class="row my-4 align-items-center">
                <div class="mb-3 col-sm-12">
                  <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="mb-3 col-sm-12">
                  <input type="Password" class="form-control" placeholder="Password">
                </div>
                <div class="col-sm-6 d-grid">
                  <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
                <div class="col-sm-6">
                  <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                    <li class="me-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a>
                    </li>
                  </ul>
                </div>
              </form>
              <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm">
                <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b>
                </div>
                <form class="row">
                  <div class="col-sm-6">
                    <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i
                          class="fab fa-facebook-f me-2"></i>Login with Facebook</span></a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i
                          class="fab fa-twitter me-2"></i>Login with Twitter</span></a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn instagram-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i
                          class="fab fa-instagram me-2"></i>Login with Instagram</span></a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i
                          class="fab fa-linkedin-in me-2"></i>Login with Linkedin</span></a>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
              <form class="row my-4 align-items-center">
                <div class="mb-3 col-sm-12">
                  <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="mb-3 col-sm-12">
                  <input type="email" class="form-control" placeholder="Email Address">
                </div>
                <div class="mb-3 col-sm-12">
                  <input type="Password" class="form-control" placeholder="Password">
                </div>
                <div class="mb-3 col-sm-12">
                  <input type="Password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="col-sm-6 d-grid">
                  <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
                <div class="col-sm-6">
                  <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                    <li class="me-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a>
                    </li>
                  </ul>
                </div>
              </form>
              <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm">
                <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b>
                </div>
                <form class="row">
                  <div class="col-sm-6">
                    <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i
                          class="fab fa-facebook-f me-2"></i>Login with Facebook</span></a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i
                          class="fab fa-twitter me-2"></i>Login with Twitter</span></a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn instagram-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i
                          class="fab fa-instagram me-2"></i>Login with Instagram</span></a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i
                          class="fab fa-linkedin-in me-2"></i>Login with Linkedin</span></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
      Modal login -->
  
  <!--=================================
      Inner Header -->
  <section class="inner-header bg-holder bg-light"  style="background-image: url('../../../assets/img/maxresdefault.jpg');">
    
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
          <div class="section-title text-center"></div>
          <div class="section-title text-center"></div>
          <div class="section-title text-center"></div>
          <h1 class="breadcrumb-title mb-0 text-white"  style="margin-top: 45px; " > About Us</h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
            <!--
            <li class="breadcrumb-item"><a href="../../../index.html"><i class="fas fa-home me-1"></i>Home</a></li>
            <li class="breadcrumb-item active"><span>About Us</span></li>
            -->
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
      Inner Header -->
  
  
      <section class="space-ptb bg-light" style="background-image: url('../../../assets/img/bg-particle1.png');">
        <div class="container">
      
          <div class="row">
           
            <div class="col-lg-6">
              <div class="section-title mb-5">
                <h4 class="footer-title text-primary"><b> WHY CHOOSE US</b></h4>
                <h2 class="footer-title text-dark" ><b></b></h2> 
                <h2 class="footer-title text-dark" ><b>  </b></h2> <br>           
                <p>Pisgah Solutions is the partner of choice for many of the world’s leading enterprises, SMEs and technology challengers. We help businesses elevate their value through custom software development, product design, QA and consultancy services.</p>
                <p>Pisgah Solutions is a well-established team of professionals specializing in the development and implementation of various tools for HRM (Human Resource Management), SQL CRM (Customer Relationship Management), ERP (Enterprise Resource Planning), and dialers. With years of experience and expertise in these areas, the team at JustMac is committed to providing reliable and efficient solutions for businesses of all sizes.</p>
                <p>Choosing PISGAH SOLUTIONS means embracing a comprehensive solution that addresses every facet of your corporate requirements. We look forward to the opportunity to discuss how our integrated services can contribute to the success and growth of PISGAH SOLUTIONS.</p>
                
              </div>
              <div class="row">
                <div class="col-sm-6 mb-4 pb-2">
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
              <div class="position-relative">
                <div class="row">
                  <div class="col-lg-5 text-center mb-4 mb-0">
                      <div class="categories">
                        <img class="img-fluid" src="../../../assets/images/bg/image-box1.jpg" alt="">
                        <h6 class="categories-title">Our Mission</h6>
                      </div>
                  </div>
                  <div class="col-lg-5 text-center mb-4 mb-0">
                      <div class="categories">
                        <img class="img-fluid" src="../../../assets/images/bg/image-box2.jpg" alt="">
                        <h6 class="categories-title">Our Vision</h6>
                      </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5 text-center mb-4 mb-0">
                      <div class="categories">
                        <img class="img-fluid" src="../../../assets/images/bg/image-box3.jpg" alt="">
                        <h6 class="categories-title">Our Philosophy</h6>
                      </div>
                  </div>
                  <div class="col-lg-5 text-center mb-4 mb-0">
                      <div class="categories">
                        <img class="img-fluid" src="../../../assets/images/bg/image-box4.jpg" alt="">
                        <h6 class="categories-title">Our Strategy</h6>
                      </div>
                  </div>
               </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      
  
  
  
      <section class="space-ptb bg-dark" style="background-image: url('../../../assets/img/bg-particle1.png');">
        <div class="container">
      
          <div class="row">
           
            <div class="col-lg-6">
              <div class="section-title mb-5">
                <h5 class="footer-title text-primary"><b> EXPERIENCE. EXECUTION. EXCELLENCE.</b></h5>
                <h2 class="footer-title text-white" >What We Actually Do</h2>            
                <h5 class="footer-title text-white"> Website Development Services Our experts believes that the first impression is the best impression and it truly goes well with website development because website is the virtual office where in we can display our services information and sell our services to the customers . Your website is your identity! A user-friendly, classy, and informative website engages and entices people to do business.</h5>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-4 pb-2">
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
              <div class="position-relative">
                <img class="img-fluid rounded-sm w-100" src="../../../assets/images/bg/image1-about.png" alt="">
                
              </div>
            </div>
          </div>
        </div>
      </section>
      
  
  
   <!--=================================
      footer-->
      <footer class="footer footer-dark space-ptb " style="background-color: black;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <div class="footer-contact-info">
                <div class="footer-logo mb-2">
                  <a href="../../../index.html"><img class="img-fluid" src="../assets/Pisgah/PISCAH1.png" alt="" style="height: 150px; width: 100%;" ></a>
                </div>
                &nbsp;
                <div class="contact-address">
                  <div class="contact-item mb-3 mb-md-4">
                    <p>2HHW+755, 9th Cross Rd, HMT Layout, Dinnur, RT Nagar, Bengaluru, Karnataka 560032</p>
                  </div>
                  <div class="contact-item mb-3 mb-md-4">
                    <h4 class="mb-0 fw-normal"><a href="#" class="text-primary">+91 7625046646 </a></h4>
                  </div>
                  <div class="contact-item">
                    <a href="#">info@pisgahsolution.com</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0" >
              <h5 class="footer-title text-primary">Services</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Web Development</a></li>
                  <li><a >Product Development</a></li>
                  <li><a>E-commerce Website</a></li>
                  <li><a>Dedicated Team</a></li>
                  <li><a >E-learning/ Edutech</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title text-primary">Learn</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Social Media Platform</a></li>
                  <li><a >Business Management Tools</a></li>
                  <li><a >Real-Estate Websites</a></li>
                  <li><a >Sports and Fitness Websites</a></li>
                  <li><a >Software as a Service (SaaS)</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title text-primary">Company</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a>About Company</a></li>
                  <li><a>For Customers</a></li>
                  <li><a>Blog & News</a></li>
                  <li><a>Careers & Reviews</a></li>
                  <li><a>Sitemap</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom pt-5 pb-0 " style="background-color: black;">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                  <ul>
                      <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="https://www.instagram.com/pisgahsolution/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61555178352742"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/PisgahSolutions"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/pisgah-solutions-9841ba2a4"><i class="fab fa-linkedin-in"></i></a></li>
                    &nbsp;
                  </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="section-title text-center">
                    <p class="mb-0 small">© Copyright 2023 <a href="#">Pisgah Solution</a> All Rights Reserved.</p>                   
                  </div>
              </div>             
            </div>          
          </div>   
          <div class="footers ">
              <p class="foot text-white"> Designed and Developed By |   K.Bhuvana Chandra  <a href="https://www.linkedin.com/in/bhuvan-kandregula-347657275/"><i class="fab fa-linkedin-in "></i></a> &nbsp;
                <a href="https://github.com/Bhuvan2508"><i class="fab fa-github text-dark "></i></a>,  Rohith Prabhu jr.   <a href="https://www.linkedin.com/in/prabhu-rohith-40292b2a8/"><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;<a href="https://github.com/Prabhujr"><i class="fab fa-github text-dark "></i></a>,
                P.Gnana Prasuna&nbsp;<a href="https://www.linkedin.com/in/paipuri-gnana-prasuna-28729b186/"><i class="fab fa-linkedin-in"></i></a>&nbsp;
                <a href="https://github.com/PAIPURIGNANAPRASUNA"><i class="fab fa-github text-dark "></i></a> </p>
          </div>
        </div>
      </footer>
      <!--=================================
          footer-->
      <!--=================================
          Back To Top -->
      <div class="back-to-top" >
        <a href="https://wa.me/7625046646"><i class="fab fa-whatsapp" ></i></a>
      </div>
      <!--=================================
          Back To Top -->