    Banner 
<section class="slider-01">
    <div class="container-fluid px-0">
      <div id="main-slider" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide  align-items-center d-flex bg-overlay-black-50 header-position" style="background-image: url('../assets/Pisgah/3D file (002).jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div class="container">
              <div class="row">
                <div class="col-md-12 position-relative">
                  <div class="banner-content">
                    <div class="content text-center">
                      <h1 class="animated text-white mb-3" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.0s">SOFTWARE DEVELOPMENT</h1>
                      <h4 class="animated text-white  mb-7" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.5s">We are one of the top Website Development, Mobile App development, Digital marketing experts In India 
                      </h4>
                    </div>
                  </div>
                </div>
          </div>
        </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  