<!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-light"  style="background-image: url('../../../assets/img/maxresdefault.jpg');">
  
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
              <div class="section-title text-center"></div>
              <div class="section-title text-center"></div>
              <div class="section-title text-center"></div>
              <h1 class="breadcrumb-title mb-0 text-white" style="margin-top: 45px; "> Cloud Computing</h1>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
               
              </ol>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
          Inner Header -->
                  <!--=================================
    Online Education -->
    <section class="space-pt">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
              <img class="img-fluid" alt="" src="../../assets/img/cloud.avif">
            </div>
            <div class="col-md-6 ps-3 ps-md-5">
              <h1 class="footer-title text-Black-primary" ><b>We Organize Our</b>
               </h1>
               <h2>Boost Your Cloud Computing Skills</h2>
               <p></p>
               <p>Unlock the power of limitless scalability and flexibility with our transformative cloud computing course. Dive into the cloud ecosystem, mastering essential platforms and services that drive innovation and efficiency. From infrastructure to software, learn to harness the full potential of cloud technology to streamline operations and accelerate growth. Join us and embark on a journey of digital transformation, where the sky's the limit in terms of possibilities. Enroll now to elevate your skills and embrace the future of computing in the cloud.</p>
            </div>
         </div>
         </div>
      </section>
     
    <div class="container-fluid py-5">
      <div class="container py-5">
          <div class="text-center mb-5">
              <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Cloud Computing Courses</h5>
              <h1>Our Popular Courses</h1>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="../../assets/img/colud architek.jpeg" alt="">
                      <div class="bg-secondary p-4">
                          <div class="d-flex justify-content-between mb-3">
                            <small><i class="fa fa-calendar" style="font-size:20px;color:red"></i> 5 months</small>
                              <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                          </div>
                          <p class="h5">Cloud Architect</p>
                          <p>Simplilearn’s Cloud Architect Certification Course will build your AWS, Microsoft Azure and Google Cloud Platform expertise from the ground up. You’ll learn to master the architectural principles and services of the top cloud platforms, design and deploy highly scalable, fault-tolerant applications.</p>
                          <div class="border-top mt-4 pt-4">
                              <div class="d-flex justify-content-between">
                                 <!--  <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i> 4.5 <small>(250)</small></h6>
                                  <h5 class="m-0">$99</h5> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="../../assets/img/aws cloud.jpeg" alt="">
                      <div class="bg-secondary p-4">
                          <div class="d-flex justify-content-between mb-3">
                            <small><i class="fa fa-calendar" style="font-size:20px;color:red"></i> 5 months</small>
                              <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                          </div>
                          <p class="h5">AWS Cloud Architect</p>
                          <p>This AWS Cloud Architect Certification Course will make you an expert in Amazon Web Services (AWS). In this program, you will become familiar with architectural principles and services of AWS, learn how to design and deploy highly scalable and fault-tolerant applications on AWS.</p>
                          <div class="border-top mt-4 pt-4">
                              <div class="d-flex justify-content-between">
                                  <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i> 4.5 <small>(250)</small></h6>
                                  <h5 class="m-0">$99</h5> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="../../assets/img/ms azure.jpeg" alt="">
                      <div class="bg-secondary p-4">
                          <div class="d-flex justify-content-between mb-3">
                            <small><i class="fa fa-calendar" style="font-size:20px;color:red"></i> 5 months</small>
                              <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                          </div>
                          <p class="h5">Microsoft Azure Cloud Architect</p>
                          <p>Azure Cloud Architect Master’s Program will help you master the Azure infrastructure by understanding Azure Cloud Architect Technology Solutions, implementing workloads and security in Azure, creating and deploying apps in Azure, and securing data in Azure.</p>
                          <div class="border-top mt-4 pt-4">
                              <div class="d-flex justify-content-between">
                                 <!--  <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i> 4.5 <small>(250)</small></h6>
                                  <h5 class="m-0">$99</h5> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="../../../assets/img/devops.jpg" alt="">
                      <div class="bg-secondary p-4">
                          <div class="d-flex justify-content-between mb-3">
                            <small><i class="fa fa-calendar" style="font-size:20px;color:red"></i> 5 months</small>
                              <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                          </div>
                          <p class="h5">Azure DevOps Solutions Exper</p>
                          <p>Become an industry-ready professional with the Azure DevOps Solutions Expert masters program, which will prepare you for a career in Cloud and DevOps industry. In this course, you will learn to plan smarter, collaborate better, and ship faster with a set of modern dev services.</p>
                          <div class="border-top mt-4 pt-4">
                              <div class="d-flex justify-content-between">
                                  <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i> 4.5 <small>(250)</small></h6>
                                  <h5 class="m-0">$99</h5> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="../../assets/img/AZ-305.jpeg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                          <small><i class="fa fa-calendar" style="font-size:20px;color:red"></i> 5 months</small>
                            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                        </div>
                        <p class="h5"> Designing Azure Infrastructure Solutions (AZ-305)</p>
                        <p>This Microsoft Azure Architect Design certification training establishes you as an expert Azure Architect and helps you ace the AZ-305 exam. You will learn how to determine workload requirements, design for identity and security, architect.</p>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>  4.5 <small>(250)</small></h6>
                                <h5 class="m-0">$99</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="rounded overflow-hidden mb-2">
                <img class="img-fluid" src="../../assets/img/AZ-104.jpeg" alt="">
                  <div class="bg-secondary p-4">
                      <div class="d-flex justify-content-between mb-3">
                        <small><i class="fa fa-calendar" style="font-size:20px;color:red"></i> 5 months</small>
                          <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> 01h 30m</small>
                      </div>
                      <p class="h5">Azure Administrator Associate AZ-104</p>
                      <p>In this course you will learn how to manage Azure subscriptions, secure identities, administer the infrastructure, configure virtual networking, connect Azure and on-premises sites, manage network traffic, implement storage solutions.</p>
                      <div class="border-top mt-4 pt-4">
                          <div class="d-flex justify-content-between">
                         <!--     <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i> 4.5 <small>(250)</small></h6>
                              <h5 class="m-0">$99</h5>-->  
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
  <!-- Courses End -->
  
          
  <!-- Category Start -->
  <!--=================================
    Info Box -->
    <section class="space-pt text-white" style=" background-color:black">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <img class="img-fluid" alt="" src="../../../assets/img/cloud.avif">
          </div>
          <div class="col-md-6 ps-3 ps-md-5">
            <h6 class="footer-title text-primary"><b> TECHNOLOGY INDEX</b></h6>
            <h3 class="footer-title text-white" ><b>Boost Your Skills With Us</b>
             </h3>
             <h3 class="footer-title text-white"><b>Join Us</b></h3>
             <a  class="btn btn-primary">ANALYSIS</a>    
             <a  class="btn btn-primary">DESIGN</a>
             <a  class="btn btn-primary">DEVELOP</a>
             <p></p>
             <p>Unlock the power of scalability and flexibility with our immersive cloud computing course. Explore the vast landscape of cloud technologies, mastering the tools and services essential for modern businesses. From virtualization to containerization, our program equips you with the skills to harness the full potential of cloud platforms. Dive into a world where computing knows no bounds, and infrastructure becomes infinitely scalable. Join us to embark on a transformative journey towards becoming a cloud architect of tomorrow. Enroll now and soar to new heights in the digital realm, where innovation meets efficiency.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="space-pt space-pt ">
    </section>
  <!--=================================
    Inner Header -->
  
  <!--=================================
      footer-->
      <footer class="footer footer-dark space-ptb " style="background-color: black;">
        <div class="container">   
          <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <div class="footer-contact-info">
                <div class="footer-logo mb-2">
                  <a href="../../../index.html"><img class="img-fluid" src="../assets/Pisgah/PISCAH1.png" alt="" style="height: 150px; width: 100%;" ></a>
                </div>
                <div class="contact-address">
                  <div class="contact-item mb-3 mb-md-4">
                    <p>2HHW+755, 9th Cross Rd, HMT Layout, Dinnur, RT Nagar, Bengaluru, Karnataka 560032</p>
                  </div>
                  <div class="contact-item mb-3 mb-md-4">
                    <h4 class="mb-0 fw-normal"><a href="#" class="text-primary">+91 7625046646 </a></h4>
                  </div>
                  <div class="contact-item">
                    <a href="#">info@pisgahsolution.com</a>
                  </div>
                </div>
              </div>
            </div>
             <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0" >
              <h5 class="footer-title text-primary">Services</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Web Development</a></li>
                  <li><a >Product Development</a></li>
                  <li><a>E-commerce Website</a></li>
                  <li><a>Dedicated Team</a></li>
                  <li><a >E-learning/ Edutech</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title text-primary">Learn</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Social Media Platform</a></li>
                  <li><a >Business Management Tools</a></li>
                  <li><a >Real-Estate Websites</a></li>
                  <li><a >Sports and Fitness Websites</a></li>
                  <li><a >Software as a Service (SaaS)</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title text-primary">Company</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a>About Company</a></li>
                  <li><a>For Customers</a></li>
                  <li><a>Blog & News</a></li>
                  <li><a>Careers & Reviews</a></li>
                  <li><a>Sitemap</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom pt-5 pb-0 " style="background-color: black;">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                  <ul>
                     <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="https://www.instagram.com/pisgahsolution/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61555178352742"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/PisgahSolutions"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/pisgah-solutions-9841ba2a4"><i class="fab fa-linkedin-in"></i></a></li>
                    &nbsp;
                  </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="section-title text-center">
                    <p class="mb-0 small">© Copyright 2023 <a href="#">Pisgah Solution</a> All Rights Reserved.</p>                   
                  </div>
              </div>             
            </div>          
          </div>   
          <div class="footers ">
            
              <p class="foot text-white"> Designed and Developed By |  Rohith Prabhu jr.  <a href="https://www.linkedin.com/in/prabhu-rohith-40292b2a8/"><i class="fab fa-linkedin-in "></i></a>&nbsp;&nbsp;<a href="https://github.com/Prabhujr"><i class="fab fa-github text-dark "></i></a>,
                 P.Gnana Prasuna  <a href="https://www.linkedin.com/in/paipuri-gnana-prasuna-28729b186/"><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;<a href="https://github.com/PAIPURIGNANAPRASUNA"><i class="fab fa-github text-dark "></i></a>, 
                 K.Bhuvana Chandra   <a href="https://www.linkedin.com/in/bhuvan-kandregula-347657275/"><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;<a href="https://github.com/Bhuvan2508"><i class="fab fa-github text-dark "></i></a> </p>
          </div>
        </div>
      </footer>
      <!--=================================
          footer-->
      <!--=================================
          Back To Top -->
       <div id="back-to-top" class="back-to-top">
        <a href="https://wa.me/7625046646"><i class="fab fa-whatsapp"></i></a>
      </div>
      <!--=================================
          Back To Top -->